<include file="Public/header" />

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
<include file="Public/menu" />

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="{:U('Ad/index')}">广告列表</a>
							</li>
							<li class="active">添加广告</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
						 <a class="label label-xlg label-primary arrowed " href="{:U('Ad/index')}">
							返回列表</a>
							
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" action="" method="post" id="myform">
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 广告位： </label>
									
										<div class="col-sm-3">
											
											<select   class="form-control"  name="cate_id" id="cate">
												<option value="0">请选择广告位</option>
												 <volist name="info" id="v">
													<option value="{$v.id}">{$v.name}</option>
													
												</volist>
											</select>
											 
										</div>

										
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 广告名称： </label>

										<div class="col-sm-9">
											<input type="text" id="name" placeholder="广告名称" class="input-large" name="ad_name"  />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 广告代码： </label>

										<div class=" col-xs-12 col-sm-4">
											<textarea class="form-control" rows="4" name="ad_content" id="descs" placeholder="广告代码"></textarea>
										</div>
									</div>
										<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否显示： </label>

										<div class="col-sm-9">
										<label>
											<input name="status" type="radio" class="ace" value="1" />
											<span class="lbl">&nbsp;显示</span>
										</label>
										<label>	
											<input name="status" type="radio" class="ace" value="0" />
											<span class="lbl">&nbsp;不显示</span>
										</label>	
									
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 排序： </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2" placeholder="排序" class="input-large"  name="sort" value="50" />
											
										</div>
									</div>
									

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" id="button">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>

								

									
								</form>

								

							
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				
			</div><!-- /.main-container-inner -->

		<include file="Public:footer" />
<script type="text/javascript">
	$(function(){
		$("#button").click(function(){
			var name=$("#name").val();
			var cate=$("#cate").val();
			var descs=$("#descs").val();
			
			
			if(cate==0){
				layer.msg('广告位必须选择', {
				    icon: 5,
				    time: 2000 //2秒关闭（如果不配置，默认是3秒）
				}); 
				//layer.alert('广告位必须选择', {icon: 5});
				return false;
			}else if(name==''){
				layer.msg('广告名称必须填写', {
				    icon: 5,
				    time: 2000 //2秒关闭（如果不配置，默认是3秒）
				}); 
				//layer.alert('广告名称必须填写', {icon: 5});
				return false;
			}else if(descs==''){
				layer.msg('广告代码必须填写', {
				    icon: 5,
				    time: 2000 //2秒关闭（如果不配置，默认是3秒）
				}); 
				//layer.alert('广告代码必须填写', {icon: 5});
				return false;
			}else{
				$("#myform").submit();
			}
		});
	});
</script>